<h4>About</h4>
<div class="well" id="about-well">
<p>Welcome to the app that makes pretty graphs out of your google spreadsheets (be sure you're signed in to your Google account as this app relies on your Google session). Now you're ready to see graphs and upload new data! To upload new spreadsheets, just be sure to format them like this: <a href="https://docs.google.com/spreadsheet/ccc?key=0AuZMGuR3ulpfdFpGNld2VmZqdk0xR1R4dXpvMUJvZFE&usp=sharing">Sample Spreadsheet</a>.</p>
<p>Feel free to add stuff, edit stuff, etc. Just be sure that when you add new rows, you format the weekly totals to 'sum' the new rows.</p>
<p>Then, grab the public url found under 'file' > 'make public' in the google spreadsheet toolbar and drop it into the 'add spreadsheet' form on the course profile page.</p>
<p>Voila.</p>
<p>Overview graph: Toggle the graph lines on and off from the legend as you wish.</p>
<p>Sync-ing to S3 is available to serve as a proxy to address performance issues from Google sessions expiry. Read more about how Flatware works <a href="https://github.com/jsoma/flatware">here</a>. </p>
</div>