<h3>May the odds of a stronger, better WDI be ever in your favor.</h3>

  <div id="search-courses">
    <select class="btn btn-default" name="enter-course-field" id="enter-course-field">
      <option value="Select a course">Select a course</option>
      <%= @courses.each do |course| %>
      <option value="<%= course.id %>"><%= course.title %></option>
      <% end %>
     </select> 
      <button class="btn btn-default" id="add-item">Go</button>
  </div>

<br>
    
<input class="btn btn-default" style="display:none" id="overview" type="button" value="Overview" />
<input class="btn btn-default" style="display:none" id="byweek" type="button" value="By Week" />
<!-- <input class="btn btn-default" style="display:none" id="bubblebutton" type="button" value="Bubble Chart" /> -->
<input class="btn btn-default" style="display:none" id="bystudent" type="button" value="By Student" />
<br>
<br>

<!-- FOR HIGHCHARTS -->
<div class="chart-container"></div>

<!-- FOR HANDLEBAR -->
<div id="content"></div>
<script id="spreadsheet-template" type="text/x-handlebars-template">
  <table class="table table-hover table-bordered">
    <tbody>
    <tr>
      <div class="entry">
        <td>{{coursematerial}}</td>
        <td>{{value}}</td>
      </div>
     <tr> 
    </tbody>  
  </table>  
</script>






