<h1>General Assessment.ly</h1>
<p>May the odds of a stronger, better WDI be ever in your favor.</p>

<input class="btn btn-default" id="overview" type="button" value="Overview" />
<input class="btn btn-default" id="byweek" type="button" value="By Week" />
<input class="btn btn-default" id="bystudent" type="button" value="By Student" />
<br>
<br>

<!-- BELOW IS HIGHCHARTS-->

<div id="overviewchart" style="width:100%; height:400px;"></div>

<!-- BELOW IS SIMPLESHEET -->

<p id="overview"></p>

<!-- BELOW IS HANDLEBAR -->

<div id="content"></div>

<script id="spreadsheet-template" type="text/x-handlebars-template">
  <table class="table table-hover table-bordered">
    <tbody>
    <tr>
      <div class="entry">
        <td>{{coursematerial}}</td>
        <td>{{value}}</td>
      </div>
     <tr> 
    </tbody>  
  </table>  

</script>

<!-- BACKBONE TO GRAB HIGHCHART DATA FOR OVERVIEW BAR CHART -->

<script type="text/underscore-template" id="assessment-template" >
<div class="entry">
<p>Total Column: <%%= week %></p>
<p>Value column: <%%= value %></p>
</div>
</script>

<!-- BELOW IS SIMPLESHEET -->

<!-- <div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <td id="data"></td>
    </tr>
  </table>
</div> -->

