<h1>General Assessment.ly</h1>
<p>May the odds of a stronger, better WDI be ever in your favor.</p>
    
<input class="btn btn-default" id="overview" type="button" value="Overview" />
<input class="btn btn-default" id="byweek" type="button" value="By Week" />
<input class="btn btn-default" id="bystudent" type="button" value="By Student" />
<br>
<br>

<!-- FOR HIGHCHARTS -->
<div class="chart-container"></div>

<!-- BELOW IS HANDLEBAR -->
<div id="content"></div>
<script id="spreadsheet-template" type="text/x-handlebars-template">
  <table class="table table-hover table-bordered">
    <tbody>
    <tr>
      <div class="entry">
        <td>{{coursematerial}}</td>
        <td>{{value}}</td>
      </div>
     <tr> 
    </tbody>  
  </table>  
</script>






