<div class="well" id="well">
  <div id="search-courses">
    <select class="form-group" name="enter-course-field" id="enter-course-field">
      <option value="Select a course" id="course-options">Select a course</option>
      <%= @courses.each do |course| %>
      <option value="<%= course.id %>"><%= course.title %></option>
      <% end %>
     </select> 
      <button class="btn btn-default" id="select-button">Go</button>
  </div>
  
  <input class="btn btn-default btn-sm" style="display:none" id="overview" type="button" value="Overview" />
  <input class="btn btn-default btn-sm" style="display:none" id="byweek" type="button" value="By Week" />
  <!-- <input class="btn btn-default btn-sm" style="display:none" id="bubblebutton" type="button" value="Bubble Chart" /> -->
  <input class="btn btn-default btn-sm" style="display:none" id="bystudent" type="button" value="By Student" />

</div>
<!-- FOR HIGHCHARTS -->
<div class="chart-container"></div>

<div id="students">
<!-- FOR HANDLEBAR -->
<div id="content"></div>
  <script id="spreadsheet-template" type="text/x-handlebars-template">
    <table class="table table-hover table-bordered">
      <tbody>
      <tr>
        <div class="entry">
          <td id="topics">{{coursematerial}}</td>
          <td id="student-scores">{{value}}</td>
        </div>
       <tr> 
      </tbody>  
    </table>  
  </script>
</div>





