<h1>General Assessment.ly</h1>
<p>Awesomeness will live here.</p>

<input class="btn btn-success" id="overview" type="button" value="Overview" />
<input class="btn btn-success" id="byweek" type="button" value="By Week" />
<input class="btn btn-success" id="bystudent" type="button" value="By Student" />
<br>
<br>
<div id="content"></div>

<!-- BELOW IS HANDLEBAR -->

<script id="spreadsheet-template" type="text/x-handlebars-template">
  <table class="table table-hover table-bordered">
    <tbody>
    <tr>
      <div class="entry">
        <td>{{coursematerial}}</td>
        <td>{{value}}</td>
      </div>
     <tr> 
    </tbody>  
  </table>  

</script>

<script id="overview-template" type="text/x-handlebars-template">
  <table class="table table-hover table-bordered">
    <tbody>
    <tr>
      <div class="entry">
        <td>{{value}}</td>
      </div>
     <tr> 
    </tbody>  
  </table>  

</script>

<!-- BELOW IS SIMPLESHEET -->

<!-- <div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <td id="data"></td>
    </tr>
  </table>
</div> -->

<!-- BELOW IS BACKBONE -->

<!-- // <script type="text/underscore-template" id="assessment-template" > -->
<!-- //   <div class="entry"
//   <p>Coursematerial Column: <= coursematerial %></p>
//   <p>Info Column: <= info %></p>
//   <p>Value column: <= value %></p>
//   </div>
// </script> -->


