<h1>General Assessment.ly</h1>
<p>Awesomeness will live here.</p>


<!-- SHOW DATA  -->
<h1>ALL SPREADSHEETS</h1>

<!-- BELOW IS SIMPLESHEET -->

<!-- <div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <td id="data"></td>
    </tr>
  </table>
</div> -->

<div id="content"></div>

<!-- BELOW IS HANDLEBAR -->

<script id="spreadsheet-template" type="text/x-handlebars-template">
      <div class="entry">
        <h3>Info {{info}}</h3>
        <h2>{{coursematerial}}</h2>
        <h3>Value {{value}}</h3>
        <div class="body">
        </div>
      </div>
</script>

<!-- BELOW IS BACKBONE -->

<script type="text/underscore-template" id="assessment-template" >
  <div class="entry"
  <p>Coursematerial Column: <%%= coursematerial %></p>
  <p>Info Column: <%%= info %></p>
  <p>Value column: <%%= value %></p>
  </div>
</script>


