
  <form action="/courses" method="post" class="form-inline">
    <input name="title" type="text" placeholder="Course Title"> 
    <button type="submit" class="btn btn-primary">Add it</button>
  </form>  

