
  <form action="/courses" method="post" class="form-inline">
    <input class="btn btn-default" id="add-course" name="title" type="text" placeholder="Course Title"> 
    <button type="submit" id="add-course-button" class="btn btn-default">Add it</button>
  </form>  

