<div class="span6">
  <form action= "/courses/<%= @course.id %>/spreadsheets" method="post" class="form-inline">
    <input name="key" type="text" placeholder="Add a published URL"> 
    <button type="submit" class="btn btn-primary">Add it</button>
  </form> 
  <br>
  <form action="/process" method="post">
    <p><button type="submit" class="btn btn-submit">Sync spreadsheets to S3</button></p>
  </form>
</div>