<div class="well" id="course-list">
  <h2>Current courses: </h2>
  <% @courses.each do |course| %>
  <ul id="courses">
    <li id="course-li"><a href="<%= course_path(course.id) %>">ID: <%=course.id%>. Course Name: <%=course.title%></a></li>
  </ul>
  <% end %>
</div>