<h2>Title: <%= @course.title %></h2>


<div class="well">
<h4>Add a new spreadsheet:</h4>

<%= render 'spreadsheetform' %>
</div>
<h2>Current spreadsheets</h2>
<ul class="current-spreadsheets">
  <% @spreadsheets.all.each do |spreadsheet| %>
    <li id="keys"><%= spreadsheet.google_key %><a target="_new" href="https://docs.google.com/spreadsheet/pub?hl=en_US&hl=en_US&key=<%= spreadsheet.google_key %>&output=html"> Google</a>
      <% if !@updated.nil? and @updated.include?(spreadsheet) %>
        <span class="label label-success">Updated</span>
      <% end %>
    </li>
  <% end %> 
</ul>

